# export JAVA_TOOL_OPTIONS='-Dapple.awt.UIElement=true';

export GOROOT=/usr/local/opt/go/libexec
export PATH=$PATH:$GOROOT/bin

export GOPATH=$HOME/.go
export PATH=$PATH:$GOPATH/bin

export GOPATH=$GOPATH:$HOME/Documents/Development
export PATH=$PATH:$GOROOT/bin:$HOME/.go/bin:$HOME/Documents/Development/bin

export JAVA_HOME=$(/usr/libexec/java_home)
